/* html,body{
    overflow-x: hidden;
} */

/* 
.h1-hero {
  font-family: "Poppins", sans-serif;
}

a.buttonD {
  display: inline-block;
  text-decoration: none;

  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

a.buttonD:hover {
  animation-name: rubberBand;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
} */

/**** HEADER-STYLES *****/
/* .active {
  background: #111827 !important;
}

.active a,
.active a#my-name {
  color: #fff;
}

.active a:hover {
  color: #ed5d40;
}

a#my-name,
nav#nav_links {
  font-family: "Nunito", sans-serif;
  color: #111827;
} */

/****** BODY STYLES ******/
/* 
.round__btn,
.big-circle,
.small-circle {
  border-radius: 50%;
}

.round__btn:hover .btn__text {
  color: #1f2937;
}

.big-circle:hover .btn__text {
  color: #1f2937;
}

.round__btn:hover svg,
.big-circle:hover svg {
  stroke: #1f2937;
}

.btn__text,
.sub-btn,
.list__label,
.service-title,
#footer-name {
  font-family: "Poppins", sans-serif;
}

.sub_text,
.sub_text2,
.p-list {
  font-family: "Nunito", sans-serif;
}

/******** SERVICE PAGE ********/

/* .hide h2 {
  font-weight: 700 !important;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.hide .service-icon svg {
  fill: #111827;
}

.hide .service-icon {
  transform: rotate(90deg);
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

.show .service-icon {
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
} */

/******** PROJECT PAGE ********/
/* .project_item:hover .project-icon {
  transform: rotate(45deg);
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

.project_item:hover .project-icon svg {
  fill: #111827;
}

.project_item .hover-image {
  visibility: hidden;
}

body:not(.mobile) .project_item:hover .hover-image {
  visibility: visible;
  pointer-events: none;
}

.project_item .hover-image {
  display: flex;
  position: fixed;
  top: 60%;
  left: 45%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Change width and height to scale images 
  width: 50vw;
  height: 50vh;
}

.project_item .hover-image img {
  max-width: 100% !important;
  max-height: 100% !important;
  width: auto !important;
  height: auto !important;
  margin-bottom: 0;
  opacity: 0.7;
} */

/******* MOBILE RESPONSIVESNESS ********/
/* @media screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }

  .h1-hero {
    font-size: 36px !important;
  }

  .subText {
    font-size: 24px !important;
  }

  .round__btn {
    max-width: 16rem !important;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  .sub__brief {
    max-width: 32rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0 0.75rem !important;
  }

  .sub_text,
  .sub_text2 {
    font-size: 16px !important;
  }

  .service-icon svg,
  .project-icon svg {
    width: 50px !important;
    height: 50px !important;
  }

  .service-title,
  .project-title {
    font-size: 2.1rem !important;
  }

  .project_item .hover-image {
    display: none;
  }

  .contact_circles {
    display: block !important;
  }

  .big-circle {
    max-width: 16rem !important;
    padding: 3rem 1rem !important;
    margin: 2rem auto !important;
  }

  .small-circle {
    max-width: 12rem !important;
    padding: 3rem 1rem !important;
  }

  .small-circle svg {
    width: 45px;
    height: 45px;
  }

  .footer-links {
    flex-direction: column-reverse !important;
  }

  .footer_lnk {
    padding-bottom: 10px !important;
  }

  .footer-link {
    margin-right: 0px !important;
  }

  .twine-link {
    margin-left: 15px !important;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .h1-hero {
    font-size: 4.2rem !important;
  }
} */

/******* HEADER *******/
.active {
  background-color: #020202a3;
}

/* .slide {
  right: -100px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}

@-webkit-keyframes slide {
  100% {
    right: 0;
  }
}

@keyframes slide {
  100% {
    right: 0;
  }
} */

/***** HERO *****/
@media screen and (max-width: 1024px) {
  .container {
    max-width: 100% !important;
  }
}
@media screen and (max-width: 768px) {
  .heroHeading {
    font-size: 30px !important;
  }
}

/* Animation */

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1.3s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.3s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/***** SKILLS & EXPERIENCE *****/
@media screen and (max-width: 1024px) {
  .skillHeading {
    font-size: 45px !important;
    width: 15rem !important;
  }
}
@media screen and (max-width: 768px) {
  .skillHeading {
    font-size: 30px !important;
    width: 12rem !important;
  }
}
@media screen and (min-width: 1024px) {
  .experienceBlock {
    width: 45% !important;
  }
}

/***** WORKS *****/
.animate-spin {
  animation-duration: 20000ms !important;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media screen and (max-width: 1024px) {
  .worksHeading {
    font-size: 45px !important;
    width: 14rem !important;
  }
}

@media screen and (max-width: 768px) {
  .cvLink {
    width: 180px !important;
    height: 180px !important;
  }

  .worksHeading {
    font-size: 30px !important;
    width: 10rem !important;
  }
}

/******* ABOUT *******/
@media screen and (max-width: 1024px) {
  .about {
    width: 100% !important;
  }
}
@media screen and (max-width: 768px) {
  .about {
    width: 100% !important;
  }

  .aboutImg {
    width: 100% !important;
    height: 100% !important;
    margin: 0 auto;
  }
}

/******* CONTACT *******/
@media screen and (max-width: 768px) {
  .contactCircle {
    width: 350px !important;
    height: 350px !important;
  }
}
